In [21]:
ch = input("entrer une chaine de caractére : ")
r =""
for i in range(len(ch)):
    if i%2==0:
        r = r+ch[i]
r

entrer une chaine de caractére : gomycode

'gmcd'

In [23]:
p = int(input("entrer le prix de produit :"))

if p>=500:
    f = p*(1-0.5)
elif p>200 and p<500:
    f= p*(1-0.3)
else:
    f= p*(1-0.1)

f

entrer le prix de produit :700

350.0

In [ ]:
700

# Q3

In [17]:
n = int(input("entrer un nombre :"))
if n%2==0:
    print("pair")
else:
    print("impaire")

entrer un nombre :3
impaire

In [18]:
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i, end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

# Q5

In [ ]:
n = int(entrer un nombre :)
if n==0 or n==1:
    print(1)
else:
    for i in range(1,n+1):

# Q1

In [10]:
prénom = input("Entrer le prénom : ")
nom = input("Entrer le nom : ")

print(nom," ", prénom)

Entrer le prénom : hafsa
Entrer le nom : ouchra
ouchra   hafsa

# Q2

In [15]:
n = input("entrer un chiffre : ")
m = input("entrer un chiffre : ")
z = input("entrer un chiffre : ")

r = int(n)+int(m)+int(z)

r

entrer un chiffre : 5
entrer un chiffre : 55
entrer un chiffre : 555

615

In [2]:
l = [3,4,6,2]
for i in l:
    print(i,end=' ')

3 4 6 2

In [5]:
for j in range(0,10,2):
    print(j)

0
2
4
6
8

In [8]:
sum = 0 
i = 1 # initialize sum and counter

while i <= 5:
    sum = sum + i
    i = i+1    # update counter
    print(i)

print("The sum is", sum) # print the sum

2
3
4
5
6
The sum is 15